<style>
    .table_table-boardered{
        border-collapse: collapse;
        text-align: center;
        line-height: 1.5;
        border-top: 1px solid #ccc;
        border-left: 3px solid #369;
        margin: 20px 10px;

    }

    .table_table-boardered th{
        width: 147px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #153d73;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .table_table-boardered td{
        width: 349px;
        padding: 10px;
        vertical-align: top;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
</style>


<h2>배달 의뢰 페이지</h2>

<div class="container">
    <table class="table_table-boardered">
        <tbody>
            <tr>
                <th>제목</th>
                <th>시간</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td> <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3></td>
                <td>{{post.mod_date|date:"N d, Y"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--
    {% for post in posts %}
<p>
    
    <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
    {{post.mod_date|date:"N d, Y"}}
    {% endfor %}
</p>
-->
<br>
<div>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">이전페이지</a>
    {% endif %}

    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">다음페이지</a>
    {% endif %}
</div>

</div>